@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3,
p,
span {
  font-size: 18px;
}

h4,
label,
a {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 2.5rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: #8f8ca8;
}

#shiki-code > pre {
  background-color: #011627 !important;
}

#shiki-code > pre span {
  font-size: 14px !important;
}
